#header,#footer{
    text-align: center;
    font-size: 30px;
    padding:50px;
}
#header{
    background: #3498db;
    color:aliceblue;
}
#footer{
    background:#f1c40f;
    color:aliceblue;
}
#wp-content{
    display: flex;
}
#sidebar{
    background:#1abc9c;
    color:aliceblue;
}
ul#main-menu{
    list-style: none;
    margin:0;
    padding:20px 80px;
}
ul#main-menu li.menu-item{
    padding:10px;
}
ul#main-menu li.menu-item a{
    text-decoration: none;
    font-size: 20px;
}
#content{
    padding:20px;
    font-size:20px;
}